body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    margin: 1%;
    margin-top: 2em;
    margin-bottom: 2em;
}

button {
    margin: 0em;
}

p {
    margin: 0;
}

h1 {
    margin-bottom: 0.5em;
}

.yourNameField {
    position: relative;
    left: 3px;
}

footer {
    padding-top: 50px;
}

.operator {
    font-size:xx-large;
    margin: 0em;
}

footer a {
    color: black;
    font-size: small;
}
